@import "https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&amp;display=swap";
@import "https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&amp;display=swap";

:root {
  --base-color: #ac8d56;
  --medium-gray: #817f7c;
  --very-light-gray: #f4f1ed;
  --alt-font: "Rufina", serif;
  --primary-font: "Urbanist", sans-serif;
  --white: #ffffff;
  --dark-gray: #232323;


}

body {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.3px;
  font-family: var(--primary-font);
  font-weight: 400;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  color: var(--medium-gray);
  margin: 0;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}
